* LIST_FILES(<path from project root>)
* READ_FILE(<file path and name>)
* CREATE_FILE(<file path and name>)
* MISSING_ACTION(<text description with details>) # Call it when you can not reach goal with existing actions
* FINISH # finish iterations, user goal is reached